@media (max-width: 767px) {
	.site {
		padding-left: 0;
	}
	.sidebar {
		bottom: auto;
		margin: 0;
		position: relative;
		width: 100%;
		top: auto;
	}
	.site-header {
		margin: 2em auto;
		position: static;
		text-align: center;
		top: auto;
	}
	.content-area,
	.widget-area {
		margin: 1.5em;
	}
    h1, .entry-title {
        font-size: 1.66em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1em;
    }
}
